.mainHeader {
    padding: 50px 0;
    @media screen and (max-width: 768px) {
        padding: 20px 0;
    }
}

.mainHeaderLogo {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
        margin-bottom: 0;
    }
    a {
        display: flex;
        align-items: center;
        img {
            max-width: 302px;
            height: 74px;
            object-fit: contain;
            @media screen and (max-width: 768px) {
                width: 121px;
                height: 30px;
            }
        }
    }
}

.mainHeaderHamburger {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    display: none;
    @media screen and (max-width: 768px) {
        display: block;
        z-index: 9;
    }
    &.active {
        .mainHeaderHamburgerMenu {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 10px;
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                    bottom: 8px;
                }
            }
        }
    }
    .mainHeaderHamburgerMenu {
        span {
            position: absolute;
            left: 0;
            height: 2px;
            right: 0;
            width: 100%;
            background-color: #2866B1;
            transition: all .3s ease-in-out;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 9px;
            }
            &:nth-child(3) {
                bottom: 0;
            }
        }
    }
}

.mainHeaderNav {
    display: flex;
    align-items: center;
    gap: 40px;
    @media screen and (max-width: 900px) {
        gap: 30px;
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 50px;
    }
    .nav-link {
        color: #2866B1;
        font-size: 24px;
        font-family: $font-inter;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        display: flex;
        align-items: center;
        @media screen and (max-width: 768px) {
             font-size: 18px;
             background: -webkit-linear-gradient(#005C97, #363795);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.mainHeaderNavWrap {
    @media screen and (max-width: 768px) {
        background-color: #fff;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 50px 20px;
        transform: translateX(-2000px);
        transition: all .3s ease-in-out;
        z-index: 2;
    }
    &.openMenu {
        @media screen and (max-width: 768px) {
            transform: translateX(0);
        }
    }
}